In [2]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("lungcancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [4]:
ds_table=pd.crosstab(df['GENDER'],df['LUNG_CANCER'])
print(ds_table)

LUNG_CANCER  NO  YES
GENDER
F            22  125
M            17  145

In [7]:
Obs_values = ds_table.values 
print("Observed Values :-\n",Obs_values)

Observed Values :-
 [[ 22 125]
 [ 17 145]]

In [9]:
val=stats.chi2_contingency(ds_table)
Exp_values=val[3]
print("Expected Values :-\n",Exp_values)

Expected Values :-
 [[ 18.55339806 128.44660194]
 [ 20.44660194 141.55339806]]

In [10]:
no_of_rows=len(ds_table.iloc[0:2,0])
no_of_columns=len(ds_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [12]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Obs_values,Exp_values)])
chi_square_statistic=chi_square[0]+chi_square[1]
chi_square_statistic

1.3976453196029905

In [13]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [14]:
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 0.23711821901647057
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.23711821901647057

In [16]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables

# **INBUILT**

In [31]:
df['GENDER']=df['GENDER'].apply(lambda x: x.cat.codes)
y = df['LUNG_CANCER']
f_score=chi2(df['GENDER'],y)
f_score

AttributeError: ignored